/*
------------------------------------------
This is the code-link stylesheet .css file. The styles here define how the code-editor
will look and be laid out for every user. It is not a theme stylesheet to customise. 
Themes live in the ./src/themes directory.
------------------------------------------
*/

/*
 * HTML elements styles.
 */

html, body {
    overflow: hidden;
    margin: 0px;
    font-size: 14px;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

textarea {
    resize: none;
    border-style: none;
    border-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}

h1 {
    display: flex;
    margin: 0px;
    font-family: 'Consolas',monospace;
    font-weight: bold;
    font-size: 16px;
}

span {
    font-family: 'Ubuntu Mono','Consolas',monospace;
    font-size: 1em;
}

::-webkit-scrollbar {

}

::-webkit-scrollbar-thumb {

}

/*
 * Split pane and resizer styles.
 */

.pane {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: calc(50%);
    overflow: hidden;
}

.row-split-pane {
    display: flex;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

.resizer {
    width: 2px;
    background-color: black;
    cursor: e-resize
}

#first-pane {
    width: calc(20%)
}

#second-pane {
    width: calc(80%)
}

/*
 * Editor styles.
 */
 
.editor {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100px;
    cursor: text;
    overflow: hidden;
}

.text-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.text-editor-lines {
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: text;
}

.text-editor-overlays {
    position: absolute;
    pointer-events: none;
}

.caret {
    position: absolute;
    width: 2px;
    animation: blink 1s step-start 0s infinite;
}

.selection-overlay {
    z-index: -1;
}

.text-edit {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: relative;
    top: 0;
    left: 0;
}

.line {
    white-space: pre;
}

.token {
    
}

/*
 * Gutter and line number.
 */
 
.gutter {
    display: flex;
    flex: 0 0 auto;
    min-width: 60px;
    flex-direction: column;
    user-select: none;
    align-items: stretch;
    overflow-y: hidden;
}

.line-number {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: grey
}

.line-number:hover {
    color: black
}

/*
 * SideBar styles
 */

 .sidebar {
     display: flex;
     flex: 1;
     flex-direction: column;
     height: 100%;
 }

 .expandable-list {
     display: flex;
     flex-direction: column;
 }

 /*
  * Folders styles
  */

.folders {
    display: flex;
    flex: 1;
    flex-direction: column;
    user-select: none;
    cursor: default;
    height: 100%;
}

.folders-title {
    margin: 8px;
    text-transform: uppercase;
}

.folders-empty {
    padding: 16px;
    text-align: center;
}

.folder {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.folders-text {
    display: flex;
    padding: 4px 16px;
    cursor: pointer;
}

.folders-text:hover {
    background-color: whitesmoke;
}

.folders-list {
    height: 100%;
    overflow-y: auto;
}

.folder-selected {
    background-color: lightseagreen;
}

.folder-subdir {
    margin-left: 16px;
}

.folders-icon {
    width: 16px;
    height: 16px;
}

.folders-name {
    padding-left: 8px;
}

.file {
    display: flex;
    padding: 4px 16px;
    cursor: pointer;
}

.file:hover {
    background-color: whitesmoke;
}