/*
------------------------------------------
This is the code-link stylesheet .css file. The styles here define how the code-editor
will look and be laid out for every user. It is not a theme stylesheet to customise. 
Themes live in the ./src/themes directory.
------------------------------------------
*/

@font-face {
    font-family: raleway;
    src: url('../assets/fonts/raleway-regular.ttf');
}

/*
 * HTML elements styles.
 */

html, body {
    margin: 0px;
    font-size: 14px;
    height: 100%;
}

#root {
    height: 100%;
}

main {
    overflow: auto;
    height: 100%;
}

textarea {
    resize: none;
    border-style: none;
    border-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}

h1 {
    display: flex;
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'raleway',sans-serif;
}

span {
    font-family: 'raleway',sans-serif;
    font-size: 1em;
}

/*
 * Split pane and resizer styles.
 */

.pane {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.pane::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

.row-split-pane {
    display: flex;
    flex: 1;
    height: 100%;
}

.resizer {
    width: 2px;
    background-color: black;
    cursor: e-resize
}

#second-pane {
    flex: 1;
}

.close-icon {
    fill: lightgray;
    width: 16px;
    height: 16px;
}

.close-icon:hover {
    fill: grey;
}

/*
 * Editor styles.
 */

.editor-pane {
    display: flex;
    flex-direction: column;
    flex: 1; 
    overflow: auto;
}

.empty-editor {
    display: flex;
    flex-direction: row;
    user-select: none; 
    flex: 1;
    align-items: center;
    justify-content: center;
}

.editor-tablayout {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    user-select: none;
    overflow-x: scroll;
}

.editor-tablayout::-webkit-scrollbar {
    height: 4px;
}


.editor-tablayout:hover {
     background: rgba(255,255,255,.2);
}

.editor-tab {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    padding: 4px 8px;
    min-width: 56px;
    cursor: pointer;
    font-size: 0.95em;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

.editor-tab-name-wrap {
    display: flex;
    flex: 1;
    align-items: center;
}

.editor-tab-name {
    padding: 8px;
}

.editor-tab-close {
    opacity: 0;
    padding: 4px;
    transition: all .2s ease;
}

.editor-tab:hover {
    background-color: whitesmoke;
}

.editor-tab:hover .editor-tab-close {
    fill: grey;
    opacity: 1;
}

.editor-tab-close:hover {
    transform: scale(1.2);
}

.editor-tab-selected {
    background-color: oldlace;
}

.editor-tab-selected:hover {
    background-color: oldlace;
}
 
.editor {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100px;
    cursor: auto;
    overflow: hidden;
}

.text-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.text-editor-overlays {
    position: absolute;
    pointer-events: none;
}

.caret {
    position: relative;
    width: 2px;
    animation: blink 1s step-start 0s infinite;
}

.selection-overlay {
    z-index: -1;
}

.text-edit {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    white-space: pre;
    cursor: text;
}


/*
 Virtualized list
*/

#virtualized-list {
    position: relative;
    overflow: auto;
}

/*
 Gutter Virtualized list
*/
#gutter-virtualized-list {
    position: relative;
    overflow: auto;
}

/*
 * Gutter and line number.
 */
 
.gutter {
    display: flex;
    flex: 0 0 auto;
    min-width: 60px;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

#gutter-virtualized-list::-webkit-scrollbar {
    display: none;
}

.line-number {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: grey
}

.line-number:hover {
    color: black
}

/*
 * SideBar styles
 */

 .sidebar {
     display: flex;
     flex: 1;
     flex-direction: column;
     height: 100%;
 }

 .expandable-list {
     display: flex;
     flex-direction: column;
 }

 /*
  * Status Bar
  */

.status-bar {
    display: flex;
    background-color: ghostwhite;
    height: 20px;
    align-items: center;
    user-select: none;
}

.status-bar-item {
    padding: 0px 6px;
    font-size: 13px;
}

.status-bar-version {
    position: absolute;
    right: 0;
}

 /*
  * Folders
  */

.folders {
    display: flex;
    flex: 1;
    flex-direction: column;
    user-select: none;
    cursor: default;
    height: 100%;
}

.folders-title {
    margin: 12px;
    text-transform: uppercase;
}

.folders-empty {
    padding: 16px;
    text-align: center;
}

.folders-icon {
    min-width: 17px;
    width: 17px;
    height: 17px;
    object-fit: contain;
}

.folders-name {
    padding-left: 8px;
    white-space: nowrap;
    font-size: 0.95em;
}

.folder-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.folder {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.folders-item {
    display: flex;
    padding: 4px 0px 4px 16px;
    cursor: pointer;
}

.folders-item:hover {
    background-color: whitesmoke;
}

.folder-selected {
    background-color: lightseagreen;
}

.folder-subdir {
    margin-left: 16px;
}

.file {
    display: flex;
    padding: 4px 0px 4px 16px;
    cursor: pointer;
}

.file:hover {
    background-color: whitesmoke;
}