/*
 * HTML elements styles.
 */

html, body {
    overflow: hidden;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

textarea {
    resize: none;
    border-style: none;
    border-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
}

h1 {
    display: flex;
    margin: 0px;
}

/*
 * Split pane and resizer styles.
 */

.pane {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: calc(50%)
}

.row-split-pane {
    display: flex;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

.resizer {
    width: 2px;
    background-color: black;
    cursor: e-resize
}

#first-pane {
    width: calc(20%)
}

#second-pane {
    width: calc(80%)
}

/*
 * Editor and text editor styles.
 */
 
.editor-pane {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100px;
    overflow-y: auto;
}

.text-editor {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    cursor: text;
}

.text-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    color: transparent;
}

.line-generator {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    white-space: pre;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.token-generator {
    display: flex;
    flex: 1;
    flex-direction: row;
    white-space: pre;
    user-select: none;
    pointer-events: none;
}

/*
 * Gutter and line number.
 */
 
.gutter {
    display: flex;
    flex: 0 0 auto;
    width: 60px;
    flex-direction: column;
    user-select: none;
}

.line-number-parent {
    width: 100%;
}

.line-number {
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
    -webkit-user-select: none;
}

.line-number:hover {
    opacity: 1;
}

/*
 * Selection and Caret styles.
 */

.caret {
    position: absolute;
    width: 2px;
    user-select: none;
}

.selection-parent {
    
}

.selection {
    position: absolute;
    user-select: none;
}