
/*
------------------------------------------
This is a code-link theme .css file. Every class and id selector is available to customise by the user
and applies to the App's 'theme'. This file is bundled into a ./themes/ folder when distributed where
more custom themes can be saved for use.
------------------------------------------
*/

/*
------------------------------------------
Editor Theme
------------------------------------------
*/

/*
    Theme for the text editor pane.
*/
.text-editor-theme {
    background-color: #F8F8F8;
}


/*
    Theme for the text editor input controlling caret.
*/
.text-input-theme {
    caret-color: blue;
}

/*
    Theme for the text editor input selection background color.
*/
.text-input-theme::selection {
    background-color: yellow;
}

/*
    Theme for the gutter.
*/
.gutter-theme {
    background-color: #F8F8F8;
}

/*
    Line height theme.
*/
.lineheight-theme {
    height: 19px;
}

/*
------------------------------------------
 Syntax tokens theme.
------------------------------------------
*/

/*
    General token theme.
*/
.token {
    color: black;
    line-height: 19px;
    font-size: 14px;
    font-family: 'consolas';
}

/*
    Keyword token theme.
*/
.keyword {
    color: royalblue;
    font-weight: bold;
}

/*
    Object/Class token theme.
*/
.object {
    color: darkcyan
}

/*
    Function identifier token theme.
*/
.function {
    color: palevioletred;
}

/*
    An operator (e.g. +, - , /) token theme.
*/
.operator {
    color: coral;
    font-weight: bold
}

/*
    Numeric token theme.
*/
.number {
    color: rebeccapurple;
}

/*
    Line comment token theme.
*/
.line-comment {
    color: grey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment {
    color: teal;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-line {
    color: teal;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-end {
    color: teal;
    font-weight: normal 
}

/*
    String double quotes token theme.
*/
.string-template {
    color: green
}

/*
    String single quotes token theme.
*/
.string-literal {
    color: yellowgreen
}

/*
    String back tick token theme.
*/
.template-literal {
    color: seagreen
}

/*
    Incomplete string double quotes token theme.
*/
.incomplete-string-template {
    color: green
}