
/*
------------------------------------------
This is a code-link theme .css file. Every class and id selector is available to customise by the user
and applies to the App's 'theme'. This file is bundled into a ./themes/ folder when distributed where
more custom themes can be saved for use.
------------------------------------------
*/

/*

Editor Theme

*/

.text-editor-theme {
    background-color: #F8F8F8;
}

.gutter-theme {
    background-color: #F8F8F8;
}

/*

Syntax tokens theme.

*/

.default-text {
    line-height: 1.4;
    font-size: 14px;
    font-family: 'consolas';
}

.keyword {
    color: royalblue;
    font-weight: bold;
}

.object {
    color: darkcyan
}

.operator {
    color: coral;
    font-weight: bold
}

.number {
    color: rebeccapurple;
}