
/*

$$\       $$\           $$\        $$\           $$$$$$$$\ $$\                                         
$$ |      \__|          $$ |       $$ |          \__$$  __|$$ |                                        
$$ |      $$\  $$$$$$\  $$$$$$$\ $$$$$$\            $$ |   $$$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\  
$$ |      $$ |$$  __$$\ $$  __$$\\_$$  _|           $$ |   $$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  __$$\ 
$$ |      $$ |$$ /  $$ |$$ |  $$ | $$ |             $$ |   $$ |  $$ |$$$$$$$$ |$$ / $$ / $$ |$$$$$$$$ |
$$ |      $$ |$$ |  $$ |$$ |  $$ | $$ |$$\          $$ |   $$ |  $$ |$$   ____|$$ | $$ | $$ |$$   ____|
$$$$$$$$\ $$ |\$$$$$$$ |$$ |  $$ | \$$$$  |         $$ |   $$ |  $$ |\$$$$$$$\ $$ | $$ | $$ |\$$$$$$$\ 
\________|\__| \____$$ |\__|  \__|  \____/          \__|   \__|  \__| \_______|\__| \__| \__| \_______|
              $$\   $$ |                                                                               
              \$$$$$$  |                                                                               
               \______/      

code-link default-light-theme
------------------------------------------
This is a code-link theme .css file. Every class and id selector is available to customise by the user
and applies to the App's 'theme'. This file is bundled into a ./themes/ folder when distributed where
more custom themes can be saved for use.
------------------------------------------
*/

/*
------------------------------------------
Editor Theme
------------------------------------------
*/

/*
     Theme for the scrollbar
*/
::-webkit-scrollbar {
    background-color: #F8F8F8;
    width: 14px;
}

/*
     Theme for the scrollbar thumb
*/
::-webkit-scrollbar-thumb {
    background-color: steelblue;
}

/*
    Theme for the text editor pane.
*/
.text-editor-theme {
    background-color: #F8F8F8;
}

/*
    Theme for the text editor input selection background color.
*/
::selection {
    color: white;
    background-color: rgba(0, 0, 255, 0.99);
}

/*
    Theme for the gutter.
*/
.gutter-theme {
    background-color: #F8F8F8;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
}

/*
 Caret theme.
*/
.caret-theme {
    background-color: teal;
    height: 1.4em;
    animation: blink 1s step-start 0s infinite;
}

/*
------------------------------------------
 Syntax tokens theme.
------------------------------------------
*/

/*
    General token theme.
*/
.token {
    color: black;
    line-height: 1.4em;
    font-size: 14px;
    font-family: 'Ubuntu Mono','Consolas',monospace;
}

/*
    Keyword token theme.
*/
.keyword {
    color: royalblue;
    font-weight: bold;
}

/*
    Object/Class token theme.
*/
.class-identifier {
    color: darkcyan
}

/*
    Function identifier token theme.
*/
.function-identifier {
    color: palevioletred;
}

/*
    An operator (e.g. +, - , /) token theme.
*/
.operator {
    color: coral;
    font-weight: bold
}

/*
    Numeric token theme.
*/
.number {
    color: rebeccapurple;
}

/*
    Line comment token theme.
*/
.line-comment {
    color: darkgrey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment {
    color: grey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-line {
    color: grey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-end {
    color: grey;
    font-weight: normal 
}

/*
    String double quotes token theme.
*/
.string-template {
    color: green
}

/*
    String single quotes token theme.
*/
.string-literal {
    color: yellowgreen
}

/*
    String back tick token theme.
*/
.template-literal {
    color: seagreen
}

/*
    Incomplete string double quotes token theme.
*/
.incomplete-string-template {
    color: green
}