
/*

$$$$$$$\                      $$\             $$$$$$$$\ $$\                                         
$$  __$$\                     $$ |            \__$$  __|$$ |                                        
$$ |  $$ | $$$$$$\   $$$$$$\  $$ |  $$\          $$ |   $$$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\  
$$ |  $$ | \____$$\ $$  __$$\ $$ | $$  |         $$ |   $$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  __$$\ 
$$ |  $$ | $$$$$$$ |$$ |  \__|$$$$$$  /          $$ |   $$ |  $$ |$$$$$$$$ |$$ / $$ / $$ |$$$$$$$$ |
$$ |  $$ |$$  __$$ |$$ |      $$  _$$<           $$ |   $$ |  $$ |$$   ____|$$ | $$ | $$ |$$   ____|
$$$$$$$  |\$$$$$$$ |$$ |      $$ | \$$\          $$ |   $$ |  $$ |\$$$$$$$\ $$ | $$ | $$ |\$$$$$$$\ 
\_______/  \_______|\__|      \__|  \__|         \__|   \__|  \__| \_______|\__| \__| \__| \_______|
                                                                                                    
                                                                                                    
code-link default-dark-theme                                                                                   
------------------------------------------
This is a code-link theme .css file. Every class and id selector is available to customise by the user
and applies to the App's 'theme'. This file is bundled into a ./themes/ folder when distributed where
more custom themes can be saved for use.
------------------------------------------
*/

/*
------------------------------------------
Editor Theme
------------------------------------------
*/

/*
     Theme for the scrollbar
*/
::-webkit-scrollbar {
    background-color: #24292E;
    width: 14px;
}

/*
     Theme for the scrollbar thumb
*/
::-webkit-scrollbar-thumb {
    background-color: slategray;
}

::-webkit-scrollbar-corner {
    background-color: #24292E;  
}

/*
    Theme for the text editor input selection background color.
*/
::selection {
    color: white;
    background-color: blue;
}

.editor-theme {
    line-height: 1.4;
    font-size: 14px;
}

.empty-editor-theme {
    background-color: #24292E;
}

.empty-editor-text-theme {
    color: white;
}

/*
    Theme for the text editor pane.
*/
.text-editor-theme {
    background-color: #24292E;
}

/*
    Theme for the gutter.
*/
.gutter-theme {
    background-color: #24292E;
}

/*
  Line number Gutter
*/

.line-number-theme {
    color: grey !important
}

.line-number-theme:hover {
    color: white !important
}

/*
 Status Bar
*/
.status-bar-theme {
    background-color: royalblue;
    color: white;
}

/*
 Caret theme.
*/

@keyframes blink {
    50% {
      opacity: 0;
    }
}

.caret-theme {
    background-color: white;
    height: 1.2em;
}

/*
------------------------------------------
 Syntax tokens theme.
------------------------------------------
*/

/*
    General token theme.
*/
.token {
    color: white;
    font-family: 'Ubuntu Mono','Consolas',monospace;
}

/*
    Keyword token theme.
*/
.keyword {
    color: #61afef;
    font-weight: bold;
}

/*
    Object/Class token theme.
*/
.class-identifier {
    color: #61afef
}

/*
    Function identifier token theme.
*/
.function-identifier {
    color: violet;
}

/*
    An operator (e.g. +, - , /) token theme.
*/
.operator {
    color: coral;
    font-weight: bold
}

/*
    Numeric token theme.
*/
.number {
    color: rebeccapurple;
}

/*
    Line comment token theme.
*/
.line-comment {
    color: darkgrey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment {
    color: grey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-line {
    color: grey;
    font-weight: normal 
}

/*
    Multi Line comment token theme.
*/
.multiline-comment-end {
    color: grey;
    font-weight: normal 
}

/*
    String double quotes token theme.
*/
.string-template {
    color: lightgreen
}

/*
    String single quotes token theme.
*/
.string-literal {
    color: lightgreen
}

/*
    String back tick token theme.
*/
.template-literal {
    color: seagreen
}

/*
    Incomplete string double quotes token theme.
*/
.incomplete-string-template {
    color: lightgreen
}

/*
------------------------------------------
Workspace Theme
------------------------------------------
*/

.workspace.theme {
    background-color: #1c1c1c;
}

.workspace-text-theme {
    color: #b2b2b2;
}

.title-bar.theme {
    background-color: #1c1c1c; 
}

.toolbar.theme {
    background-color: #333333;
}

.toolbar-item.theme:hover {
    background-color: #414141;
}

.toolbar-item-icon.theme {
    fill: #b2b2b2;
}