
/*
 Editor Workspace
*/

.editor-workspace {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.editor {
    display: flex;
    overflow: auto;
    flex-grow: 1;
}

.tab-layout {
    display: flex;
    height: 42px;
    user-select: none;
    overflow: visible;
}

.tab-layout::-webkit-scrollbar {
    height: 4px;
}

.tab {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: center;
    cursor: pointer;
}

.tab-selected {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: center;
    cursor: pointer;
}

.tab-text {
    padding: 0px 4px;
    white-space: nowrap;
}

.tab-file-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.tab-close-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 4px;
}

.tab-close {
    width: 16px;
    height: 16px;
}

.gutter {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    overflow: auto;
}

[id^="gutter"]::-webkit-scrollbar {
    display: none;
}

.gutter-line {
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
 Text Editor
*/

.text-editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    min-width: 100px;
}

.text-editor-overlay {
    position: absolute;
    background-color: transparent;
}

.line {
    white-space: pre;
}

.token {
    white-space: pre;
}