@font-face {
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-family: Roboto;
    font-weight: 300;
}

@font-face {
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-family: Roboto;
    font-weight: bold;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

ul {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
    letter-spacing: 0.5px;
}

h5 {
    margin: 0px;
    letter-spacing: 0.5px;
}

h6 {
    margin: 0px;
    letter-spacing: 0.5px;
}

span {
    letter-spacing: 0.5px;
    font-family: 'Roboto';
}

/*
 Workspace
*/

.workspace {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.split-pane {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.split-pane.vertical {
    flex-direction: column;
}

.resizer {
    height: 100%;
    width: 1px;
    z-index: 1;
}

.resizer:after {
    content: "";
    width: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -4px;
    background-color: transparent;
    cursor: ew-resize;
    z-index: 2;
}

.pane {
    display: flex;
    min-width: 160px;
    overflow: auto;
}

.resizeable {
    flex-grow: 1;
}

.virtualized-list {
    position: relative;
    overflow: auto;
}